# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# Build / env
dist/
build/
.env
.env.local
*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Database
*.db
*.sqlite
